.toggle-content {
    max-height: 0px; /* ou une valeur très grande */
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.toggle-content.show {
    max-height: 2000px; /* ou une valeur très grande */
    opacity: 1;
}

.toggle-title {
    cursor: pointer;
    /* Change le curseur pour montrer que c'est cliquable */
    color: #007bff;
    font-family: "Lilita One", sans-serif;
    text-align: center;
}

.toggle-title:hover {
    color: #0056b3;
}
